---
layout: default
---
<div class="home">
  {%- if site.posts.size > 0 -%}
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li class="post-card">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-card-link">
        <div class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
        </div>
        <h2 class="post-title">{{ post.title | escape }}</h2>
        {%- if post.excerpt -%}
        <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
        {%- endif -%}
      </a>
    </li>
    {%- endfor -%}
  </ul>
  {%- else -%}
  <p class="no-posts">No posts yet.</p>
  {%- endif -%}
</div>
