---
layout: default
---
{% if page.math %}
<script>
  MathJax = {
    tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] },
    svg: { fontCache: 'global' }
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js" async></script>
{% endif %}
<article class="post">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      {%- assign words = content | number_of_words -%}
      {%- assign reading_time = words | divided_by: 200 | plus: 1 -%}
      <span class="reading-time">{{ reading_time }} min read</span>
    </div>
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>
  <div class="post-content">
    {{ content }}
  </div>
  <footer class="post-footer">
    <a href="{{ site.baseurl }}/" class="back-link">&larr; All posts</a>
  </footer>
</article>
